Tasks
Task 1: Variable Declaration and Data Types
Declare variables of different types (integer, float, string, boolean, etc.).
Print their values and types using the type() function.
Task 2: String Manipulation
Create a string variable.
Apply at least three different string methods to modify or retrieve information from the string.
Task 3: Basic Operations
Perform and print the results of the following operations:
Arithmetic operations (+, -, *, /, %, **)
Comparison operations (>, <, ==, !=, >=, <=)
Logical operations (and, or, not)
Task 4: Data Collections
Create examples of the following data structures:
List
Dictionary
Tuple
Access and print specific elements from each.
Task 5: Expression Combination
Write a Python expression that combines multiple variables and operations into a single meaningful expression.
Print the result.

In [5]:
# Task 1: Variable Declaration and Data Types
int_var = 10
float_var = 3.14
str_var = "Python"
bool_var = True

In [6]:
print(int_var, type(int_var))
print(float_var, type(float_var))
print(str_var, type(str_var))
print(bool_var, type(bool_var))

10 <class 'int'>
3.14 <class 'float'>
Python <class 'str'>
True <class 'bool'>

In [7]:
# Task 2:  String Manipulation
sample_string = "Hello, Python!"
print(sample_string.lower()) # Convert to lowercase
print(sample_string.replace("Hello", "Hi")) # Replace part of the string
print(sample_string.split(",")) # Split into a list

hello, python!
Hi, Python!
['Hello', ' Python!']

In [9]:
# Task 3: Basic Operations
a, b = 15, 4
print(a + b, a - b, a * b, a / b, a % b, a ** b) # Arithmetic
print(a > b, a < b, a == b, a != b, a >= b, a <= b) # Comparison
print(a > 10 and b < 5, a < 10 or b > 5, not (a == b)) # Logical

19 11 60 3.75 3 50625
True False False True True False
True False True

In [10]:
# Task 4:  Data Collections
my_list = [5, 8, 1, 4]
my_dict = {"name": "Lana", "age": 34}
my_tuple = (20, 30, 40)

print(my_list[2]) # Access element from list 
print(my_dict["name"]) # Access element from dictionary
print(my_tuple[1]) # Access element from tuple

1
Lana
30

In [11]:
# Task 5:  Expression Combination 
result = (int_var * float_var) / (a - b) + len(sample_string)
print("Final result:", result)

Final result: 16.854545454545455